.container {
  padding: 0 2rem;
}

.main {
  height: 90vh;
  margin: 0 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.footer {
  height: 10vh;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 4rem;
  line-height: 1.15;
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 3rem 6rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input {
  padding: 1rem;
  border-radius: 1rem;
  font-size: 14px;
  font-weight: 600;
  min-width: 4rem;
  width: 25%;  
}

.input,
.inputFocused {
  border: 2px solid #59db64;
}

.button {
  border: none;
  background: #59db64;
  border: 2px solid #59db64;
  color: white;
  border-radius: 1rem;
  padding: 1.04rem;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  margin-left: -125px;
}

@media (max-width: 600px) {
}
